/* Navigation bar styling */
    @font-face {
    font-family: Sketch;
    src: url(fonts/Sketch.ttf);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:transparent;
    color:transparent;
    padding: 1rem;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
  }
  
  /* Hover effect for navigation links */
  nav a:hover {
    background-color: white;
    color: #333;
    border-radius: 0.25rem;
  }
  
  /* Header styling */
  header {
    background-color:transparent;
    color: white;
    padding: 1rem;
  }
  
  .logo img {
    height: 2rem;
    margin-right: 1rem;
  }
  
  /* Hero section styling */
  .hero {
    background-color:transparent;
    padding: 2rem;
    text-align: center;
  }
  
  .hero h1 {
    font-family: 'Sketch', sans-serif;
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color:whitesmoke;
  }
  
  .hero h2 {
    font-size: 1.5rem;
    font-weight: normal;
    color: whitesmoke;
  }
  
  /* Notes section styling */
  .notes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 2rem;
  }
  
  .note {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem;
  }
  
  .note h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .note a {
    color: #333;
    text-decoration: none;
  }
  
  /* Hover effect for note links */
  .note a:hover {
    color: white;
    background-color:transparent;
    border-radius: 0.25rem;
  }
  
  /* Footer styling */
  footer {
    background-color:transparent;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  footer p {
    margin: 0.5rem 0;
  }
  /* Style for the hyperlink */
a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
  }
  
  /* Hover effect */
  a:hover {
    color: #007bff;
  }
  
  /* Style for the note container */
  .note {
    margin-bottom: 20px;
  }
  
  /* Style for the note title */
  .note h1 {
    font-size: 24px;
    margin: 0;
  }
  
  /* Style for the note title hyperlink */
  .note h1 a {
    color: #333;
  }
  
  /* Hover effect for the note title hyperlink */
  .note h1 a:hover {
    color: #0dff00;
  }
  body {
    background-image: url('https://img.freepik.com/free-photo/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall_1258-28312.jpg?w=1380&t=st=1677521518~exp=1677522118~hmac=ab8322cfd39fe3857ba15abcef64aa7c2a794b338e46eb809e3d2a6adea8a2b4');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero {
   
  }
  
  